.c-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 42px auto;
}

.c-menu__btn {
    color: var(--font-text);
    text-decoration: none;
    text-align: center;

    width: 100%;
    
    padding: 25px 0;
    margin: 0 0 30px 0;

    font-size: 1.3rem;
    font-weight: 600;   
}

.c-menu .u-flexrow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn--yellow {
    background-color: var(--bg-yellow);
    max-width: 209.37px;
}

.btn--lightblue {
    background-color: var(--bg-lightblue);
    border-radius: 50px;
    
    max-width: 208px;
}

.btn--orange {
    background-color: var(--bg-orange);
    border-radius: 50px;
}

.btn--border {
    border: var(--bg-border);
}
.btn--play {
    text-align: center;
}

.btn--yellow:hover {
    background-color: var(--bg-hover-yellow);
}

.btn--lightblue:hover {
    background-color: var(--bg-hover-lightblue);
}

.btn--orange:hover {
    background-color: var(--bg-hover-orange);
}

.btn--play:hover {
    color: var(--bg-hover-dark);
}

.btn--border:hover {
    border: 8px solid var(--bg-hover-dark);
    color: var(--bg-hover-dark);
}