/* @see: Alinhamentos do elementos botões em column */

@media (max-width: 767px) {
    .c-menu__btn {
        margin: 0 0 30px 0;
    }

    .c-menu .u-flexrow {
        flex-direction: column;
        justify-content: center;
    }
}


@media (min-width: 768px) {
    
}
