@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-title: 'Archivo Black', sans-serif;
    --font-text: "Lato", sans-serif;

    --bg-main: #fcf6d8;
    --bt-footer: #222;

    --bg-yellow: #FFFF00;
    --bg-orange: #FFA500;
    --bg-lightblue: #00EEFF;
    --bg-border: solid 8px #222;

    --color-text: #222
}