@charset "UTF-8";
@import "./css/rules/reset.css";
@import "./css/rules/variables.css";
@import "./css/layout/header.css";
@import "./css/components/menu.css";
@import "./css/components/grid.css";
@import "./css/components/about.css";
@import "./css/components/modal.css";
@import "./css/components/carrousell.css";
@import "./css/layout/media-query.css";

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    color: var(--color-text);

    height: 100vh;

    font-family: var(--font-text);
    font-size: inherit;
}

.u-container {
    width: 80%;
    max-width: 1024px;

    margin: auto;
}

.u-flexrow {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

a[class$="u--btn"] {
    outline: none;
}