@charset "UTF-8";

@import "./css/reset.css";
@import "./css/variables.css";

@import "./css/header.css";
@import "./css/menu.css";
@import "./css/grid.css";
@import "./css/carrousell.css";

@import "./css/media-query.css";

html {
    background-color: var(--bg-main);
}

body {
    color: var(--color-text);

    font-family: var(--font-text);
    font-size: inherit;
}

.u-container {
    width: 80%;

    max-width: 1024px;
    margin: auto;
}

.u-flexrow {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}
